html{
    scroll-behavior: smooth;
}
body{
  margin: 0 auto;
  font-family: 'Exo', sans-serif;
  overflow-x: hidden;
  max-width: 1440px;
  width: 1440px;
}
a{
    text-decoration: none;
    color: grey;
}

/* HEADER START*/
.header{
    width: 1440px;
    margin: 0 auto;
}
.layout{
    position: relative;
    overflow: hidden;
    z-index: -100;
    height: 100%;
    width: 100%;
    padding-top:45%;
}
.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.header_content{
    margin: 0 auto;
    text-align: center;
    letter-spacing: 0.64px;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

h1{
    font-weight: 100;
    font-size: 60px;
    letter-spacing: 3.2px;
    line-height: 75px;
    margin: 190px 0 60px;
}
.play_icon{
    margin-bottom: 35px;
    display: block;

}
.button{
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background: #ff6d6d;
    padding: 15px 60px;
    margin: 0 0 10px;
}
.note{
    font-size: 14px;
    color: grey;
}
/* video styles */
.header_layout{ 
    width: 100%; 
    height: 100%;
}

video {
    position: absolute;
    top: -190px;
    left: 0;
    z-index: -1;
    opacity: 0.7;
    background-size: cover;
}

/* HEADER END */

/* ABOUT_US START*/
.about_us{
    background: white;
    width: 100%;
    margin: 0 auto;
}
.about_us_layout{
    width: 100%;
    display: flex;
}
.about_us_content{
    width: 860px;
    box-sizing: border-box;
    background: white;
    padding: 190px 150px 115px 140px;
}
.under_title{
    color: #ff6d6d;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: 0.2em;
    margin: 0;
}
h2{
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    position: relative;
    letter-spacing: 0.64px;
    padding-bottom: 17px;
    margin: 0;
}
.h2_style{
    font-size: 40px;
    color: #ff6d6d;
    letter-spacing: 0.1em;
}
.information_item{
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.64px;
    color: grey;
    font-weight: 600px;
}
p{
    margin: 0;
}
.about_us_visual{
    width: 580px;
    box-sizing: border-box;
    position: relative;
}

.visual_graphic{
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 580px solid #ff6d6d; 
    border-left: 580px solid transparent;
    opacity: 0.8;
    z-index: 2;
}
.visual_filter{
    width: 580px;
    height: 100%;
    background: #F6F5F3;
    position: absolute;
    z-index: 1;
    opacity: 0.5;
}
.visual_img{
    position: absolute;
    bottom: -5px;
    right: 75px;
    z-index: 0;
}
/* ABOUT US END */

/* FEATURES */
.features{
    width: 100%;
    margin: 0 auto;
}
.features_layout{
    width: 100%;
    background: url(img/Earphones.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 135px 0px 145px;
}
.feauteres_header{
    text-align: center;
    margin-bottom: 90px;
}
.features_content{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 300px);
    margin: 0 auto;
}
.content_item{
    width: calc((100% / 3) - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    opacity: 0.3;
}
.content_item:hover{
    opacity: 1;
    transition: opacity .6s;
}
.card{
    background: url(img/card.png);
}
.plane{
    background: url(img/plane.png);
}
.lamp{
    background: url(img/lamp.png);
}
.item_icon{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
}

/* FEATURES END */

/* DESIGN START */
.design{
    width: 100%;
    margin: 0 auto; 
    height: 550px;
    display: flex;
}
.design_style{
    width: calc(100% / 2);
    box-sizing: border-box;
    position: relative;

}
.style_graphic{
    transform: rotate(90deg);
    top: -30px;
    z-index: -1;
}
.style_img{
    position: absolute;
    top: 95px;
    left: 70px;
}

.design_content{
    width: 500px;
    padding: 140px 15px 0;
}


/* DESIGN END */

/* CLIENTS START */
.clients{
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.clients_layout{
    background: url(img/clients_bg.jpeg);
    width: 100%;
    height: 100%;
    padding-top: 110px;
}
.clients_layout:before{
    content: '\A';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.5);
    opacity: 1;
    z-index: 0;
}
.team{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 300px);
    margin: 0 auto;
    position: relative;
    margin-bottom: 100px;
}
.team_item{
    width: calc((100% / 3) - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.item_photo{
    margin-bottom: 25px;
}
.item_name{
    color: white;
    margin-bottom: 5px; 
}
.item_position{
    color: #ff6d6d;
    margin-bottom: 30px;
}
.information_style{
   font-style: italic;
}
.client_logo{
    display: flex;
    justify-content: space-between;
    margin: 0 auto 90px;
}
.logo_item{
    opacity: 0.3;

}
.logo_item:hover{
    opacity: 1;
    transition: opacity 0.6s;
}
.filter{
    filter: brightness(0) invert(0.5);
 }
 /* CLIENTS END */


 /* BROWSER START */
.browser{
    width: 100%;
    margin: 0 auto;
 }
.browser_layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px;
    background-color: #F6F5F3;
 }
.browser_content{
    display: flex;
    flex-direction: column;
    align-items: center;
 }
.browser_content .h2{
    margin-bottom: 28px;
}
.browser_content .information_item{
    margin-bottom: 80px;
    width: 655px;
    text-align: center;
}
.img_item{
    display: block;
}

/* BROWSER END */

/* TRY NOW START */
.trynow{
    width: 100%;
    margin: 0 auto;
}

.trynow_layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #323969;
    padding-top: 95px;
    padding-bottom: 80px;
    position: relative;
}
.trynow_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}
.trynow_header .h2{
    color: white;
}
.label{
    display: flex;
    position: absolute;
    top: 245px;
    right: 190px;

}
.label_text{
    color: #F6F5F3;
}
.label_img{
    background-image: url(img/ARROW.png);
    width: 20px;
    height: 40px;
    margin-right: 15px;
    filter: brightness(0.8) invert(.8) drop-shadow(0 0 0 rgb(220,20,60));
}
.agreement{
    color: #F6F5F3;
    opacity: 0.5;
}
.agreement_link{
    color: #F6F5F3;
    text-decoration: underline;
}
span{
    padding-left: 15px;
}
.trynow_form{
    margin-bottom: 50px;
}
.form_item{
    background-color: rgb(255,255,255,0.6);
    width: 263px;
    height: 49px;
    border: 0;
    margin-right: 30px;
    border: 0;
    border-radius: 5px;

}
.form_item::placeholder{
    color: white;
    opacity: 1;
    padding-left: 28px;
    font-size: 14px;
    font-weight: 600px;
}
.send_form{
    display: inline-block;
    font-size: 16px;
    line-height: 21px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    background: #ff6d6d;
    padding: 15px 95px;
    border: none;
}
/* TRY NOW END */

/* FOOTER START */
.footer{
    width: 100%;
    margin: 0 auto;
}
.footer_layout{
    position: relative;
    display: flex;
    padding-left: 150px;
    padding-top: 75px;
}
.footer_layout .visual_graphic{
    border-bottom: 330px solid #ff6d6d;
    border-left: 330px solid transparent;
    top: 0;
    right: 0;
    transform: rotate(270deg);
}
h3{
    margin: 0;
}
.footer_info{
    width: 278px;
    margin-right: 30px;
}
.footer_support{
    width: 165px;
    margin-right: 30px;
}
.footer_aboutus{
    width: 165px;
    margin-right: 30px;
}
.footer_foruser{
    width: 270px;
    margin-right: 30px;
}
.footer_email{
    display: flex;
    position: relative;
}
.h3{
    font-size: 22px;
    margin-bottom: 25px;
}
.footer_form{
    width: 220px;
    height: 45px;
    background: grey;
    opacity: 0.4;
    border: 1px solid grey;
    position: absolute;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.footer_foruser input::placeholder{ 
    color: black;
    opacity: 1;
    padding-left: 28px;
    font-size: 16px;
    font-weight: 600px;

}
.footer_button{
    width: 52px;
    height: 49px;
    border-radius: 5px;
    background: #ff6d6d;
    display: block;
    padding: 13px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
.footer_item{
    padding-bottom: 15px;
    letter-spacing: 0;
    box-sizing: border-box;
}
.main_logo{
    margin-bottom: 10px;
}

/* FOOTER END */
@media (max-width: 1440px) {
    .layout{
        background: url(video/Snow_Wires.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 1440px;
        height: 100%;
        opacity: .7;
    }
    video{
        display: none;
    }
    .play_icon{
        display: none;
    }
    .features_content{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}

.result_form{
    width: 400px;
    background: grey;
    margin-top: 40px;
    margin: 0 auto;
}